@page "/"
@using ERmain.Data.Language
@using ERmain.Data.Projects
@using ERmain.Data.Story
@using ERmain.Data.Theme
@using Microsoft.JSInterop
@inject LanguageAPI LanguageAPI
@inject ILogger<Home> Logger
@inject LanguageService LanguageService
@inject ThemeService ThemeService
@inject StoryAPI StoryAPI
@inject ProjectsAPI ProjectsAPI
@implements IDisposable

<PageTitle>Home</PageTitle>

@code {
    [Inject]
    private IJSRuntime JSRuntime { get; set; }
    
    private List<LanguageAsset> _languageAssets = null!;
    private bool _isEnglish;
    private Dictionary<string, List<StoryAsset>> _storyAssets = new();
    private List<Project> _projects = new();

    protected override async Task OnInitializedAsync()
    {
        LanguageService.OnLanguageChanged += ReloadTranslations;

        _languageAssets = await LanguageAPI.GetLanguageAssets();
        _isEnglish = await LanguageService.GetLanguageOrDefault() == "en";
        Logger.LogInformation("Home page initialized");
        Logger.LogInformation(_languageAssets.Count + " language assets loaded");
        Logger.LogInformation("English: " + _isEnglish);

        foreach (var year in await StoryAPI.GetStoryYears())
        {
            List<StoryAsset> assets = await StoryAPI.GetStoryAssetsByYear(year);
            _storyAssets.Add(year, assets);
        }

        _projects = await ProjectsAPI.GetProjects();
        
        await JSRuntime.InvokeVoidAsync("eval", @"if (typeof MauticSDKLoaded == 'undefined') {
            var MauticSDKLoaded = true;
            var head = document.getElementsByTagName('head')[0];
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = 'https://mautic.einfachrobbe.de/media/js/mautic-form.js';
            script.onload = function() {
                MauticSDK.onLoad();
            };
            head.appendChild(script);
            var MauticDomain = 'https://mautic.einfachrobbe.de';
                var MauticLang = {
                    'submittingMessage': ""Please wait...""
                }
            } else if (typeof MauticSDK != 'undefined') {
                MauticSDK.onLoad();
        }");
    }

    private string GetTranslation(string key)
    {
        if (_languageAssets == null)
        {
            throw new InvalidOperationException("Language assets not loaded");
        }

        LanguageAsset asset = _languageAssets.FirstOrDefault(x => x.Key == key);

        if (asset == null)
        {
            throw new InvalidOperationException("Translation with key " + key + " not found");
        }

        Logger.LogInformation(asset.Key + " found!");
        return _isEnglish ? asset.EnEN : asset.DeDE;
    }

    private void ReloadTranslations()
    {
        _ = UpdateLanguageStateAndRefresh();
        StateHasChanged();
    }

    private async Task UpdateLanguageStateAndRefresh()
    {
        await UpdateLanguageState();
        _storyAssets.Clear();
        foreach (var year in await StoryAPI.GetStoryYears())
        {
            List<StoryAsset> assets = await StoryAPI.GetStoryAssetsByYear(year);
            _storyAssets.Add(year, assets);
        }

        await InvokeAsync(StateHasChanged);
    }

    private async Task UpdateLanguageState()
    {
        string currentLang = await LanguageService.GetLanguageOrDefault();
        _isEnglish = currentLang == "en";
    }

    public void Dispose()
    {
        LanguageService.OnLanguageChanged -= ReloadTranslations;
    }
}



@if (_languageAssets != null)
{
    <!-- background -->
    <section id="home" class="p-2">

        <!-- EinfachRobbe Box -->
        <div
            class="w-[60%] bg-gray-100 border border-gray-200 shadow rounded-3xl p-2 animate__animated animate__fadeInDown animate__fast">

            <div class="flex">

                <img src="@Assets["svg/EinfachRobbe-logo.svg"]" class="h-24" alt="EinfachRobbe Logo"/>

                <div class="inline ml-2">

                    <p class="text-5xl mt-4 finger-paint-regular">EinfachRobbe</p>

                    <!-- Socials -->
                    <div class="flex gap-2 mt-2">
                        <a class="flex bg-gray-100 border border-gray-300 shadow rounded-lg w-auto pl-1 pr-1 hvr-grow whitespace-nowrap items-center cursor-pointer"
                           href="https://discord.com/users/860611726252703774"
                           target="_blank"
                           rel="noopener noreferrer">
                            <i class="bi bi-discord"></i>
                            <p class="ml-1">Discord</p>
                        </a>
                        <a class="flex bg-gray-100 border border-gray-300 shadow rounded-lg w-auto pl-1 pr-1 hvr-grow whitespace-nowrap items-center cursor-pointer"
                           href="https://github.com/EinfachRobbe"
                           target="_blank"
                           rel="noopener noreferrer">
                            <i class="bi bi-github"></i>
                            <p class="ml-1">Github</p>
                        </a>
                        <a class="flex bg-gray-100 border border-gray-300 shadow rounded-lg w-auto pl-1 pr-1 hvr-grow whitespace-nowrap items-center cursor-pointer"
                           href="https://instagram.com/einfachrobbe"
                           target="_blank"
                           rel="noopener noreferrer">
                            <i class="bi bi-instagram"></i>
                            <p class="ml-1">Instagram</p>
                        </a>
                        <a
                            class="flex bg-gray-100 border border-gray-300 shadow rounded-lg w-auto pl-1 pr-1 hvr-grow whitespace-nowrap items-center cursor-pointer"
                            href="https://youtube.com/@@EinfachRobbe"
                            target="_blank"
                            rel="noopener noreferrer">
                            <i class="bi bi-youtube"></i>
                            <p class="ml-1">YouTube</p>
                        </a>
                        <a
                            class="flex text-blue-900 w-auto pl-1 pr-1 hvr-grow whitespace-nowrap items-center cursor-pointer"
                            href="/socials"
                            target="_blank"
                            rel="noopener noreferrer">
                            <p class="">@GetTranslation("ERmain.home.seeall")</p>
                            <i class="bi bi-arrow-right ml-1"></i>
                        </a>
                    </div>

                </div>

            </div>

            <!-- Description -->
            <div class="mt-2 ml-2">
                <p class="font-light">@GetTranslation("ERmain.home.description")</p>
            </div>

        </div>
    </section>

    <!-- Timeline -->
    <section id="story">
        <p class="underline font-bold mt-2 ml-2 text-3xl animate__animated animate__slideInLeft animate__fast">
            @GetTranslation("ERmain.story")</p>

        <div class="flex mt-3 ml-2 w-[60%] animate__animated animate__pulse animate__fast">
            <ol class="relative pl-2">
                <div class="absolute inset-y-0 left-0 w-1 bg-gray-200 dark:bg-gray-700"></div>

                @foreach (var yearedAssetList in _storyAssets)
                {
                    <li class="flex space-x-2">
                        <div>
                                <span
                                    class="flex items-center justify-center w-auto bg-blue-100 dark:bg-blue-900 rounded-lg pl-1 pr-1">
                                    <p class="text-bold">@yearedAssetList.Key</p>
                                </span>
                        </div>

                        <div class="inline">
                            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">@(_isEnglish ? yearedAssetList.Value[0].TitleEN : yearedAssetList.Value[0].TitleDE)</h3>
                            <time
                                class="block mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">
                                @(_isEnglish ? yearedAssetList.Value[0].MonthEN : yearedAssetList.Value[0].MonthDE)
                            </time>
                            <p class="text-base font-normal text-gray-500 dark:text-gray-400">
                                @(_isEnglish ? yearedAssetList.Value[0].DescriptionEN : yearedAssetList.Value[0].DescriptionDE)
                            </p>
                        </div>

                    </li>

                    yearedAssetList.Value.Remove(yearedAssetList.Value[0]);

                    foreach (var asset in yearedAssetList.Value)
                    {
                        <li class="flex space-x-2 mt-2">
                            <div>
                                    <span
                                        class="flex items-center justify-center w-auto bg-blue-100 dark:bg-blue-900 rounded-lg pl-1 pr-1 invisible">
                                        <p class="text-bold">@yearedAssetList.Key</p>
                                    </span>
                            </div>
                            <div class="inline">
                                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">@(_isEnglish ? asset.TitleEN : asset.TitleDE)</h3>
                                <time
                                    class="block mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">
                                    @(_isEnglish ? asset.MonthEN : asset.MonthDE)
                                </time>
                                <p class="text-base font-normal text-gray-500 dark:text-gray-400">
                                    @(_isEnglish ? asset.DescriptionEN : asset.DescriptionDE)
                                </p>
                            </div>
                        </li>
                    }
                }
            </ol>
        </div>
    </section>

    <section id="projects" class="p-2">
        <div class="flex">
            <p class="underline font-bold mt-2 text-3xl animate__animated animate__slideInLeft animate__fast">
                @GetTranslation("ERmain.projects")</p>
            <p class="ml-1 mt-4 text-sm font-light text-gray-500">(@GetTranslation("ERmain.projects.featured"))</p>
        </div>

        <div class="flex gap-x-2 mt-2">
            @foreach (var project in _projects)
            {
                <div
                    class="max-w-[15%] w-auto bg-gray-100 border border-gray-200 shadow rounded-3xl p-2 animate__animated animate__zoomIn animate__fast">
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">@(_isEnglish ? project.TitleEN : project.TitleDE)</h3>
                    <p class="text-base font-normal text-gray-500 dark:text-gray-400">@(_isEnglish ? project.DescriptionEN : project.DescriptionDE)</p>
                    <a href="https://projects.einfachrobbe.de/details/@project.ERProjectsID"
                       class="text-blue-900 dark:text-blue-300"
                       target="_blank" rel="noopener noreferrer">
                        <p class="hover:underline">@GetTranslation("ERmain.projects.seemore")</p>
                    </a>
                </div>
            }
            <a
                class="flex text-blue-900 w-auto pl-1 pr-1 hvr-grow whitespace-nowrap items-center cursor-pointer"
                href="https://projects.einfachrobbe.de"
                target="_blank"
                rel="noopener noreferrer">
                <p class="text-xl">@GetTranslation("ERmain.home.seeall")</p>
                <i class="bi bi-arrow-right ml-1"></i>
            </a>
        </div>
    </section>

    <section id="hire" class="p-2">
        <div class="flex">
            <p class="underline font-bold mt-2 text-3xl animate__animated animate__slideInLeft animate__fast">
                @GetTranslation("ERmain.hireme")</p>
        </div>

        <div class="max-w-lg ml-0 p-6 rounded-lg shadow-md">
            <form autocomplete="on" role="form" method="post" action="https://mautic.einfachrobbe.de/form/submit?formId=1"
                  id="mauticform_einfachrobbehireme" data-mautic-form="einfachrobbehireme" enctype="multipart/form-data" class="space-y-4">

                <div class="hidden text-red-500" id="mauticform_einfachrobbehireme_error"></div>
                <div class="hidden text-green-500" id="mauticform_einfachrobbehireme_message"></div>

                <div>
                    <label for="mauticform_input_einfachrobbehireme_first_name" class="block text-sm font-medium text-gray-700">@GetTranslation("ERmain.hireme.firstname")</label>
                    <input type="text" name="mauticform[first_name]" id="mauticform_input_einfachrobbehireme_first_name"
                           class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                    <span class="hidden text-red-500" style="display:none;">@GetTranslation("ERmain.hireme.required")</span>
                </div>

                <div>
                    <label for="mauticform_input_einfachrobbehireme_last_name" class="block text-sm font-medium text-gray-700">@GetTranslation("ERmain.hireme.lastname")</label>
                    <input type="text" name="mauticform[last_name]" id="mauticform_input_einfachrobbehireme_last_name"
                           class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                    <span class="hidden text-red-500" style="display:none;">@GetTranslation("ERmain.hireme.required")</span>
                </div>

                <div>
                    <label for="mauticform_input_einfachrobbehireme_email" class="block text-sm font-medium text-gray-700">@GetTranslation("ERmain.hireme.email")</label>
                    <input type="email" name="mauticform[email]" id="mauticform_input_einfachrobbehireme_email"
                           class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                    <span class="hidden text-red-500" style="display:none;">@GetTranslation("ERmain.hireme.required")</span>
                </div>
                
                <div>
                    <label for="mauticform_input_einfachrobbehireme_locale1" class="block text-sm font-medium text-gray-700">@GetTranslation("ERmain.hireme.locale")</label>
                    <select name="mauticform[locale1]" id="mauticform_input_einfachrobbehireme_locale1" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                        <option value="en">@GetTranslation("ERmain.hireme.locale.en")</option>
                        <option value="de">@GetTranslation("ERmain.hireme.locale.de")</option>
                    </select>
                    <span class="hidden text-red-500" style="display:none;">@GetTranslation("ERmain.hireme.required")</span>
                </div>

                <div>
                    <label for="mauticform_input_einfachrobbehireme_job_description" class="block text-sm font-medium text-gray-700">@GetTranslation("ERmain.hireme.jobdesc")</label>
                    <textarea name="mauticform[job_description]" id="mauticform_input_einfachrobbehireme_job_description"
                              class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"></textarea>
                    <span class="hidden text-red-500" style="display:none;">@GetTranslation("ERmain.hireme.required")</span>
                </div>

                <div class="text-center">
                    <button type="submit" class="w-full bg-indigo-600 text-white py-2 px-4 rounded-md shadow hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                        @GetTranslation("ERmain.hireme.submit")
                    </button>
                </div>

                <input type="hidden" name="mauticform[formId]" id="mauticform_einfachrobbehireme_id" value="1">
                <input type="hidden" name="mauticform[return]" id="mauticform_einfachrobbehireme_return" value="">
                <input type="hidden" name="mauticform[formName]" id="mauticform_einfachrobbehireme_name" value="einfachrobbehireme">

            </form>
        </div>

    </section>

    <section id="tools">
    </section>
}